<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Automation">

	<test name="API Test">

		<classes>

			<!-- <class name="testAutomation.LibraryAPITest" /> -->

			<class name="testAutomation.PlaceAPITest" />



		</classes>

	</test>

</suite>

